@import 'tailwindcss';

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    overflow: hidden;
  }
}

:root {
  font-family: 'Noto Sans KR', sans-serif;
  background: #ebebeb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
